# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/

# MyPy / Type checkers
.mypy_cache/
dmypy.json
.pyre/

# Jupyter
.ipynb_checkpoints

# VSCode / IDEs
.vscode/
.idea/

# Logs
*.log

# Project-specific ignores
data/bases/*/documents/*
data/bases/*/cache.db
data/bases/*/qdrant/
.env


